<div ng-cloak="" class="inputdemoErrors">
  <div layout="row" >
    <md-sidenav layout-align="start center" md-is-locked-open="true"  flex="25">
      <img src="componentes/imagenes/logoC.png" alt="logo Soft House">
        <button class="sesion" layout-align="center end" ui-sref="administrador.carrera"> Carreras </button>
        <button class="sesion" layout-align="center end"> Reportes</button>
        <button class="sesion" layout-align="center end"> Editar</button>
    </md-sidenav>

    <md-content flex>
      <md-nav-bar aria-label="nav-bar" class="md-whiteframe-4dp left" flex>
        <span flex></span>
        <div>
          <i class="fa fa-bell-o" aria-hidden="true"></i>
          <button  class="session" layout-align="center end"> Notificaciones</button>
        </div>
        <div>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <button  class="session" layout-align="center end"> Calendario</button>
        </div>
        <div>
          <i class="fa fa-cog" aria-hidden="true"></i>
          <button  class="session" layout-align="center end"> Opciones</button>
        </div>
        <div>
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <button  class="session" layout-align="center end"> Hola Usuario</button>
        </div>
        <div>
          <i class="fa fa-power-off" aria-hidden="true"></i>
        <button  class="session" layout-align="center end"> Salir</button>
        </div>
      </md-nav-bar>

      <h1>Agregar Carrera</h1>
      <input type="text" name="" value="" placeholder="Ingresar Carrera" ng-model="administradorCtrl.nombre">

      <button type="button" name="button" ng-click="administradorCtrl.save()">Agregar</button>

      <hr>

      <h1>Eliminar Carrera</h1>

      <select ng-model="administradorCtrl.carreraSeleccionada">
        <option value="">--Seleccionar Carrera--</option>
        <option value="{{carrera.nombre}}" ng-repeat="carrera in administradorCtrl.carreras">{{carrera.nombre}}</option>
      </select>

      <button type="button" name="button" ng-click="administradorCtrl.eliminar()">Eliminar</button>

      <hr>

      <h1>Asignar Curso</h1>

      <select ng-model="administradorCtrl.carreraSeleccionadaCurso">
        <option value="">--Seleccionar Carrera--</option>
        <option value="{{carrera.nombre}}" ng-repeat="carrera in administradorCtrl.carreras">{{carrera.nombre}}</option>
      </select>

      <input type="text" name="" value="" placeholder="Ingrese nombre del curso" ng-model="administradorCtrl.nombreCurso">

      <button type="button" name="button" ng-click="administradorCtrl.asignar()">Asignar Curso</button>

      <hr>

      <h1>Eliminar Curso</h1>

      <select ng-model="administradorCtrl.carreraSeleccionadaCursoEliminado">
        <option value="">--Seleccionar Carrera--</option>
        <option value="{{carrera.nombre}}" ng-repeat="carrera in administradorCtrl.carreras">{{carrera.nombre}}</option>
      </select>

      <select ng-model="administradorCtrl.cursoSeleccionadoEliminado">
        <option value="">--Seleccionar Curso--</option>
        <option value="{{carrera.cursos}}" ng-repeat="curso in administradorCtrl.carreras.cursos">{{carrera.cursos}}</option>
      </select>


      <button type="button" name="button" ng-click="administradorCtrl.eliminarCurso()">Eliminar Curso</button>

      <hr>

      <table>
      <thead>
        <th>Carrera</th>
        <th>Cursos</th>
      </thead>
      <tbody>
        <tr ng-repeat="carrera in administradorCtrl.carreras">
          <td>{{carrera.nombre}}</td>
          <td>
            <p ng-repeat="curso in carrera.cursos">{{curso}}</p>
          </td>
        </tr>
      </tbody>
    </table>

    <div ui-view></div>
    </md-content>
  </div>
</div>